[Unit]
Description=383 news every hour 07:00-23:00 Europe/Warsaw

[Timer]
OnCalendar=*-*-* 07..23:00:00 Europe/Warsaw
Persistent=false
AccuracySec=1s
Unit=383-production.service

[Install]
WantedBy=timers.target
